.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: $base-spacing * 2;

  &-heading {
    margin-top: 0;
  }
}

.footer {
  margin-top: 3em ;
  font-size:0.8em;

  .button {
    background-color: #f6f7f7;
    color: #2a94d6;
    margin-left:0.5em;
  }
}
